body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 12px;
    color: lightgray;
}

.row {
    display: flex;
    align-items: center;
    margin: 4px;
}

#arrowright,
#arrowleft,
#taskchange,
#taskdelete {
    font-size: 10px;
    height: 20px;
}


canvas {
    display: block;
    border: 1px solid lightgray;
    background-image:
        linear-gradient(to right, lightgray 1px, transparent 1px),
        linear-gradient(to bottom, lightgray 1px, transparent 1px);
}

#gr {
    display: grid;
    grid-template-columns: 60px 1440px;
    width: 100%;
}

#padcanvas {
    background-color: black;
    height: 20px;
    width: 60px;
    background-size: auto;
    position: sticky;
    left: 0;
}

#headcanvas {
    height: 20px;
    width: 1440px;
    background-size: auto;
}

#leftcanvas {
    background-color: black;
    position: sticky;
    left: 0;
    height: 1240px;
    background-size: 60px 40px;
}

#timemaincanvas {
    height: 1240px;
    background-size: 60px 40px;
    left: 60px;
}